/* tailwind css link  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

body,
html {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.slick-slider .slick-prev {
  position: absolute;
  top: -81px;
  right: 74px !important;
  left: auto;
}
.slick-slider .slick-prev::before {
  color: black;
  font-size: 20px;
}
.slick-slider .slick-next {
  position: absolute;
  top: -81px;
  right: 0px;
}
.slick-slider .slick-next::before {
  color: black;
  font-size: 20px;
}

.recharts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.recharts-wrapper .recharts-surface {
  width: 173px;
}

/* mobile responsive  */
@media only screen and (max-width: 768px) {
  .slick-slider .slick-prev {
    position: absolute;
    top: -30px;
    right: 75px !important;
  }
  .slick-slider .slick-next {
    position: absolute;
    top: -30px;
    right: 20px;
  }
}
